*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: #e3f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: change-bg 6s linear infinite;
}
.calculator{
    padding: 20px;
    background-color: #3a4452;
    border-radius: 10px;
}
.calculator form input{
    border: 0;
    outline: 0;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
}
form .display{
    margin: 20px 0;
    display: flex;
    justify-content: flex-end;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
    width: 145px;
}
form input.operator{
    color: #33ffd8;
}
@media (max-width: 767px) {
    .calculator{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .container{
        animation: change-bg 4s infinite;
        animation-direction: alternate;
    }
}
@keyframes change-bg {
    0%, 100% {
        background-color: #e3f9ff;
    }
    25%{
        background-color: #c6e4ec;
    }
    75%{
        background-color: #9fc1ca;
    }
}